{% extends "attendance/base.html" %}
{% block content %}

<h1>Workers Records: </h1>
<div class="card">
    <div class="card-header">
        <h3>
    {{ workers_record.first_name }} 
    {{ workers_record.last_name }}
        </h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Email: </strong> {{ workers_record.email }}
      </p>

      <p class="card-text">
        <strong>Phone: </strong>{{ workers_record.phone }}
      </p>

      <p class="card-text">
        <strong>Address: </strong>{{ workers_record.address }}
      </p>

      <p class="card-text">
        <strong>City: </strong>{{ workers_record.city }}
      </p>

      <p class="card-text">
        <strong>State: </strong>{{ workers_record.state }}
      </p>

      <p class="card-text">
        <strong>Zipcode: </strong>{{ workers_record.zipcode }}
      </p>

      <p class="card-text">
        <strong>Date And Time Created: </strong>{{ workers_record.created_at }}
      </p>

      <p class="card-text">
        <strong>ID: </strong>{{ workers_record.id }}
      </p>


    </div>
  </div>

  <br/><br/>
  <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
	
  <a href="{% url 'delete_worker' workers_record.id %}" class="btn btn-danger">Delete</a>

  <a href="{% url 'update_record' workers_record.id %}" class="btn btn-secondary">Update Record</a>


{% endblock %}